ffmpeg_path=C:/Users/RivenSkaye/Downloads/Utilities/FFMpeg/ffmpeg-4.1.3-win64-shared/ffmpeg-4.1.3-win64-shared/bin/ffmpeg.exe
mediainfo_path="C:/Program\ Files/MediaInfo/MediaInfo.exe"
mkclean_path=C:/Users/RivenSkaye/Downloads/Utilities/FFMpeg/ffmpeg-4.1.3-win64-shared/ffmpeg-4.1.3-win64-shared/bin/mkclean.exe
output_folder_path=C:/Users/RivenSkaye/Downloads/outputfiles
logfile_path=C:/Users/RivenSkaye/Downloads/logs/log.txt
max_mean_volume = -16.0
max_peak_volume = -1.0
enable_av1=false
enable_mkclean=true
